my:
  name: racetiming

server:
  tomcat:
    threads:
      max: ${TOMCAT_THREADS_MAX:200}

#Determines the timeout in milliseconds until a connection is established.
app:
  template:
    request-timeout: ${TEMPLATE_REQUEST_TIMEOUT:60000}
    connect-timeout: ${TEMPLATE_CONNECT_TIMEOUT:60000}
    socket-timeout: ${TEMPLATE_SOCKET_TIMEOUT:60000}
    max-request-connection: ${TEMPLATE_MAX_REQUEST_CONNECTION:1000}
    max-request-connection-per-route: ${TEMPLATE_MAX_REQUEST_CONNECTION_PER_ROUTE:200}
  sync-rfid-enabled: ${SYNC_RFID_ENABLED:true}  # Add this line to enable/disable RFID synchronization
  sync-cron: ${SYNC_CRON:0/20 * * * * ?}  # Default to run every 20 sec
  sync-summaryResult-enabled: ${SYNC_SUMMARYRESULT_ENABLED:true} # Add this line to enable/disable summaryResult synchronization
  sync-summaryResult: ${SYNC_SUMMARYRESULT:0 */1 * * * *} # Default to run every 1 minute
  sync-summaryLive-enabled: ${SYNC_SUMMARYLIVE_ENABLED:true} # Add this line to enable/disable summaryLive synchronization
  sync-summaryLive: ${SYNC_SUMMARYLIVE:0 */1 * * * *} # Default to run every 1 minute
  sync-checkpointStatus-enabled: ${SYNC_CHECKPOINTSTATUS_ENABLED:true} # Add this line to enable/disable checkpointStatus synchronization
  sync-checkpointStatus: ${SYNC_CHECKPOINTSTATUS:0 0 0 * * ?} # Default to run every day at 00:00
  task-scheduler-enabled: ${TASK_SCHEDULER_ENABLED:true} # Set to True to enable the Task Scheduler, False to disable it
  sync-eror-mail-enabled: ${SYNC_EROR_MAIL_ENABLED:false}
  sync-eror-mail-target: ${SYNC_EROR_MAIL_TARGET:}
  sync-eror-mail-cool-time-minutes: ${SYNC_EROR_MAIL_COOL_TIME_MINUTES:10}
  server-timezone: ${SERVER_TIMEZONE:Asia/Shanghai}
  local-timezone: ${LOCAL_TIMEZONE:Asia/Bangkok}
  
  
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}

spring:
  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE:20MB}
      max-request-size: ${MAX_REQUEST_SIZE:20MB}
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  application:
    name: ${APP_NAME:template-spring-boot}
  datasource:
    hikari:
      maximumPoolSize: ${DB_MAX_POOL_SIZE:20}
      minimumIdle: ${DB_MIN_IDLE:10}
      idleTimeout: ${DB_IDLE_TIMEOUT:120000}
      poolName: HikariConfig
      connectionTimeout: ${DB_CONNECTION_TIMEOUT:300000}
      leakDetectionThreshold: ${DB_LEAK_DETECTION_THRESHOLD:300000}
    mysql:
      url: ${DB_URL:jdbc:mysql://localhost:3306}
      username: ${DB_USER:root}
      password: ${DB_PASSWORD:}
      driverClassName: com.mysql.cj.jdbc.Driver
  mail:
    host: ${SMTP_HOST:smtp.gmail.com}
    port: ${SMTP_PORT:587}
    username: ${SMTP_USER:}
    password: ${SMTP_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            protocols: TLSv1.2
            ciphers: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

aws:
  s3:
    accessKey: ${AWS_S3_ACCESS_KEY:}
    secretKey: ${AWS_S3_SECRET_KEY:}
    bucketName: ${AWS_S3_BUCKET_NAME:}

logging:
  level:
    com:
      racetiming: ${LOG_LEVEL_RACETIMING:TRACE}
    org:
      springframework: ${LOG_LEVEL_SPRINGFRAMEWORK:ERROR}
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} | %-5level | %X{CORRELATION_ID} | %c{1} | %msg%n"

jwt:
  secret-key: ${JWT_KEY:}

security:
  publicKey: ${SECURITY_PUBLIC_KEY:}
  privateKey: ${SECURITY_PRIVATE_KEY:}